$mainFont : 'Spartan', sans-serif;

$planetNameFontSize: 4rem;
$largeFontSize : 2.8rem;
$mediumFontSize: 2rem;
$smallFontSize: 1.1rem;
$pFontSize: 1.3rem;
$buttonFontSize: 1.2rem;

$letterSpacing: 0.2rem;
$letterSpacingSmaller: 0.2rem;

$regularFW: 300;
$boldFW: 400;
$bolderFW: 500;
$backgroundColor: #070724;
$fontColor: #d8d8d8;

$mercuryColor: #419EBB;
$venusColor: #EDA249;
$earthColor: #6D2ED5;
$marsColor: #D14C32;
$jupiterColor: #000000;
$saturnColor: #FCCB6B;
$uranusColor: #65F0D5;
$neptuneColor: #2D68F0;